<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    {% block header %}
    <header>
        <div class="header">

            <div class="zagolovok">
                <div>Центральная библиотечная система г.Сургута</div>
            </div>

            <div class="menu">
                <div>
                    <div>Главная</div>
                </div>
                <div>
                    <div>Каталог книг</div>
                </div>
                <div>
                    <div>Наши библиотеки</div>
                </div>
                <div>
                    <div>Галлерея</div>
                </div>
                <div>
                    <div>Контакты</div>
                </div>
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </div>

        </div>
    </header>
    {% endblock header %}

</body>
</html>